[2017-03-09 05:25] iangoh414 opened #1 "Cannot Save Config"
Under Store->Catalog->Catalog-> save Config
Under Store->Catalog->XML Sitemap-> save Config

You will get the error “Something went wrong while saving this configuration: We Can’t save the cron expression.”

Please help to fix this asap

[2017-03-09 05:27] iangoh414 opened #2 "Cannot save Theme Configuration"
Content->Configuration-> Edit (Theme) ->Save Configuration, you will get an error.

Something went wrong while saving this configuration: Notice: Undefined index: field in /home/vocando/public_html/store/vendor/klaviyo/magento2-extension/Observer/PrivateApiKeyObserver.php on line 25

Please fix this ASAP

[2017-03-09 05:47] iangoh414 opened #3 "Line Item URL does not exists for "Checkout started""
For "Checkout Started" parameters, there isn't any line item url.

There are parameters like {{ event.Extra.LineItems.0.Product.FirstImageURL }}, {{ event.Extra.LineItems.0.Name }}, {{ event.Extra.LineItems.0.Product.SKU }} but one we need is the line item URL which does not exist.

Please help to check this.

Thank you.

[2017-03-09 15:12] henry-chan-klaviyo commented on #1
This issue has been triaged and it looks to be that our observer is listening on too generic of a submit event causing issues with saving settings outside of our extension settings. As a work around, the version of the extension from the Magento Marketplace is in a good state.

You'll first need to uninstall this version with composer before installing the Magento Marketplace version. The differen

[2017-03-09 15:12] henry-chan-klaviyo commented on #2
This is a duplicate of https://github.com/klaviyo/magento2-klaviyo/issues/1

[2017-03-09 15:12] #2 closed

[2017-05-23 14:20] aaronware opened #4 "Multistore configuration?"
Just wondering where this is in the product pipeline?

[2017-12-13 21:34] henrylamchan commented on #1
Fixed on master here

[2017-12-13 21:34] #1 closed

[2017-12-13 21:35] henrylamchan commented on #4
It's here!

[2017-12-13 21:35] #4 closed

[2018-04-09 06:43] robinj opened #9 "Missing License"
This module lacks a license file so it's not clear whether we are allowed to maintain a private fork or contribute back to this module. According to the [Magento Marketplace](https://marketplace.magento.com/klaviyo-magento2-extension.html) version of this plugin, it's released under _Open Software License 3.0 (OSL-3.0)_ but that's not explicitly stated anywhere in this repo.

Would you be able to

[2018-07-30 14:59] sangangouda opened #12 "Klaviyo Magento2.2"
I am looking for module which supports magento 2.2.+

[2018-07-31 01:55] robinj commented on #12
It's better to contact your account manager at Klaviyo about this kind of thing

[2018-07-31 01:56] #9 closed

[2018-08-24 19:36] srenon opened #13 "Getting product Image"
Is there a reason you are getting a random image from the product image gallery using

[code]

instead of getting the main product image from the product?

[code]

[2018-08-28 16:23] jefflenz opened #15 "You need to escape string"
/vendor/klaviyo/magento2-extension/view/frontend/templates/product/viewed.phtml

Does not escape the product name, produces js error if product has double quote in name.

`var item = {
            ProductID: "<?php echo $_product->getId(); ?>",
            Name: "<?php echo $_product->getName(); ?>",
            SKU: "<?php echo $_product->getSku(); ?>",
            URL: "<?php echo $_product->get

[2018-09-28 02:11] cyberkiller6 opened #16 "_learnq is not defined"
Uncaught ReferenceError: _learnq is not defined
    at _learnq.push(['track', 'Viewed Product', item]);

Get this error on product pages from the extension (Version 1.0.5) on Magento 2.2.5

[2018-11-20 22:10] pmclain opened #18 "Private API Key Stored in plain text"
https://github.com/klaviyo/magento2-klaviyo/blob/master/etc/adminhtml/system.xml#L21-L23
Should this be an obscure config value instead of text?

[2019-01-31 05:49] mageprashant opened #19 "Magento2.1.6 Klaviyo - Asymmetric transaction rollback."
I have used your extension version 1.0.5 in Magento2.1.6.
**Go to Admin > Stores > Configuration > KLAVIYO > General > Settings**

- Enable Klaviyo Extension > Yes

- Public Klaviyo API Key > XXXXX

- Private Klaviyo API Key > XXXXX

after Save Config

go to frontend and I try to Newsletter Subscription and getting an error > https://www.screencast.com/t/T24Ncq3T

Thank you

[2019-04-09 09:04] Pr00xxy commented on #18
Also consider using the `Encrypted` backend model
`<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>`
together with `Magento\Framework\Encryption\EncryptorInterface::decrypt()` when accessing value

[2019-05-31 12:04] clivewalkden opened #27 "User not unsubscribed if Admin Newsletter Subscriber page used"
Hi,

This applies to Magento 2.3.1, not tested on anything else.
If you unsubscribe a user from the newsletter subscriber page in the admin they unsubscribe method is never reached.

When the UserProfileNewsletterSubscribeObserver fires the $subscriber->isStatusChanged() always returns false which stops the rest of the execute method running. Magento thinks the user is unsubscribed but the informa

[2019-06-20 10:39] clivewalkden commented on #27
Has anyone else experienced this issue?

[2019-06-24 13:49] alisovtsev commented on #19
In this case subcribtion creates without customer creation, but UserProfileNewsletterSubscribeObserver of Klaviyo\Reclaim request subscription customer by customerId, which generate exception of NoSuchEntity and then happens Asymmetric transaction error. So you may fix like this:
instead of
`if ($subscriber->isStatusChanged()) {
          $customer = $this->customer_repository_interface->getById($

[2019-06-25 16:34] srenon opened #29 "Customer Specific code in .phtml files"
/view/frontend/templates/analytics/initialize.phtml

[code]

You should NOT load customer specific code in phtml files because that block will get cached by FPC and then every customer will get the same content. So after cleaning cached if the first person who visits your site logged in then the there is a strong possibility that all other users who view page source will see that user info. This c

[2019-06-28 15:22] clivewalkden commented on #27
Doesn't seem to syncronize unsubscribes on the Magento side if a user is unsubscribed in the Klaviyo dashboard.

[2019-07-02 13:44] remstone7 commented on #27
@clivewalkden

1. We don't post back to the magento side if a user unsubscribes in Klaviyo.

2. We will investigate the `$subscriber->isStatusChanged()`

[2019-07-02 13:44] #12 closed

[2019-07-02 13:46] #3 closed

[2019-07-02 14:07] remstone7 commented on #29
Thanks, taking a look at this one!

[2019-07-02 14:20] srenon commented on #29
A quick fix would be to create a plugin for Magento\Customer\CustomerData\Customer

    public function afterGetSectionData(Customer $subject, $result)
    {
        if ($this->currentCustomer->getCustomerId()) {
            $result['lastname'] = $this->currentCustomer->getLastname();
            $result['email'] = $customer->getEmail();
        } else {
            $result['lastname'] = '';

[2019-07-02 14:24] remstone7 commented on #29
@srenon doing some research, it looks like a dependency injection is okay to utilize as it seems common practice? https://www.etatvasoft.com/blog/dependency-injection-in-magento-two/  & https://devdocs.magento.com/guides/v2.3/extension-dev-guide/depend-inj.html

I did some testing and doesn't appear cacheing will cause an issue as i've been able to trigger this through acting as multiple users wit

[2019-07-02 14:37] srenon commented on #29
If you are using advance Cloudflare setting or any other caching service then the first person who visits the site page will get caches after clearing the cache.

If this was the acceptable approach why did Magento use js to load the welcome message in the header?

This was a similar bug in Magento https://github.com/prakashpatel07/magento2/pull/11/commits/78b6e7b60c27209b857cb2f07b5138bdbd5d3597#

[2019-07-04 07:59] clivewalkden commented on #27
@remstone7 Thanks for the reply.
1. Why not?
2. Awesome, thanks!

[2019-07-05 18:16] remstone7 commented on #27
1. great question, it's something i'll pass over to the product managers and see if we can get it in a future release!

[2019-07-05 18:45] clivewalkden commented on #27
Awesome, thanks, was hoping there wasn't a major reason!

[2019-07-18 22:02] aurelienchl opened #32 "Swagger is not working"
We're on Magento 2.2.6 and this plugin is causing an error for Swagger. Here's the issue when trying to access to this page:
/rest/all/schema?services=all
Data type "anyType" is not declared.

[2019-07-19 05:18] jasuten opened #33 "Email address not validated before saving to quote"
The automatic email address capture on the checkout page is not validated before saving it to the quote, this causes validation issues elsewhere:

Steps to reproduce:
- Add products to cart
- Proceed to checkout page
- Enter malformed email, e.g. example@broken
- Go back to cart page
- Remove a product from cart
- Error message appears "We can't remove the item."

[2019-07-19 20:36] #29 closed

[2019-07-24 17:35] #16 closed

[2019-07-24 17:35] remstone7 commented on #16
should be fixed

[2019-07-24 17:42] remstone7 commented on #32
thanks for bringing that up.. fixing it w/ this https://github.com/klaviyo/magento2-klaviyo/pull/34 `@return mixed[]`

[2019-07-24 17:44] remstone7 commented on #33
taking a look at this, thanks!

[2019-07-24 17:46] remstone7 commented on #33
can reproduce, will patch

[2019-07-24 18:04] remstone7 commented on #33
fixing in https://github.com/klaviyo/magento2-klaviyo/pull/34

[2019-07-24 19:19] #33 closed

[2019-07-24 19:20] remstone7 commented on #32
released!

[2019-07-24 19:20] #32 closed

[2019-07-24 19:21] remstone7 commented on #15
just resolved this with latest release

[2019-07-24 19:39] srenon commented on #13
@remstone7 ... this is not fixed

https://github.com/klaviyo/magento2-klaviyo/blob/master/Block/Catalog/Product/ViewedProduct.php#L155

[2019-07-24 19:53] remstone7 commented on #13
will reopen, we can handle this differently and next release -> we've always grabbed the first image from the mediaGallery, certainly a better way to handle.

[2019-07-24 19:54] srenon commented on #13
Give me 10 minutes to create a PR with a fix

[2019-07-30 13:41] cdiacon-img opened #42 "Js error _learnq is not defined"
I suppose this commit introduced changed and breaks the js for the product viewed
[code]
https://github.com/klaviyo/magento2-klaviyo/commit/4d7c9370220df81409cb19a257ef77262a1a2245

klaviyo version : 1.1.0
magento : 2.3.2

[2019-07-30 13:42] remstone7 commented on #42
@cdiacon-img just waiting for a review and will push a patch for version 1.1.1 https://github.com/klaviyo/magento2-klaviyo/pull/41

[2019-07-30 15:14] remstone7 commented on #42
@cdiacon-img all set, in the new release V1.1.1

[2019-07-30 15:14] #42 closed

[2019-07-30 15:15] #13 closed

[2019-07-30 15:15] #15 closed

[2019-07-30 15:16] cdiacon-img commented on #42
@remstone7 thanks for a quick reply, upgrading now... 🎉

[2019-07-30 15:23] cdiacon-img commented on #42
@remstone7 just my 2cents here
https://github.com/klaviyo/magento2-klaviyo/commit/7335b5215148a6ea0d1db88ea3d6124a24172b2c

I think this could be done better using require js
[code]

[2019-07-30 15:27] cdiacon-img commented on #42
@remstone7
I don't think this fixed the issue 😞

![Screen Shot 2019-07-30 at 6 26 38 PM](https://user-images.githubusercontent.com/48591835/62142799-a071f580-b2f7-11e9-9362-e03a4379fa9b.png)
![Screen Shot 2019-07-30 at 6 26 30 PM](https://user-images.githubusercontent.com/48591835/62142817-a536a980-b2f7-11e9-85de-aeaf6a915de6.png)

[2019-07-30 15:45] remstone7 commented on #42
hmm alright, will go the requirejs approach, locally tested and looked good for me adding this.

[2019-07-31 10:50] DavaGordon opened #44 "M2.3 unexpected '$result' (T_VARIABLE)"
During magneto 2.3.2 compilation the following error occured

**Parse error: syntax error, unexpected '$result' (T_VARIABLE) inl/vendor/klaviyo/magento2-extension/Plugin/Customer/Model/CustomerData.php on line 38;**

after reviewing the code it was found you were missing the semicolon from end of variables but can i suggest you rewrite from

[code]
To

[code]

[2019-07-31 12:52] remstone7 commented on #44
#43 thanks

[2019-07-31 13:55] remstone7 commented on #44
@DavaGordon merged in dev-master will update package later today

[2019-07-31 13:55] #44 closed

[2019-08-17 19:25] clivewalkden opened #47 "ReferenceError: Can't find variable: _learnq"
Hi,

I'm getting this on latest 1.1.2 version and Magento 2.3.2
Reporting about 700 errors on a newly launched site (via Sentry.io) in approximately 48 hours. Happening across multiple browsers and devices.

Same issue reported in reports #16 and #42 I'm not sure what percentage of users are getting this issue.

[2019-08-18 21:52] remstone7 commented on #47
I'm not able to reproduce this on my testing - have tried with M2.1.1 and just did with 2.3.2 -  should have been fixed with #43.  Do you have any repro steps?  I will continue to look into this...

[2019-08-29 11:20] remstone7 commented on #47
addressed again in #46

[2019-08-29 11:20] #47 closed

[2020-01-21 15:51] njparadis commented on #18
Hey guys, this is being addressed in PR #54: https://github.com/klaviyo/magento2-klaviyo/pull/54/files#diff-c4a53edec4557757b0db215231c89c32R21

[2020-01-23 08:43] clivewalkden commented on #47
@remstone7 sorry to take so long to get back, this is caused by uBlock Origin blocking the https://static.klaviyo.com/onsite/js/klaviyo.js file being loaded. Can there be some check on the _learnq variable to stop this error appearing in the console and causing knock on issues on the page due to the JS error?

[2020-01-23 12:32] remstone7 commented on #47
yea so we should be doing something like:

`var _learnq = _learnq || [];` which would remove this from happening..
https://github.com/klaviyo/magento2-klaviyo/blob/3a1ddde65896304f2c087f1f69d6fba194434648/view/frontend/templates/product/viewed.phtml#L7
https://github.com/klaviyo/magento2-klaviyo/blob/3a1ddde65896304f2c087f1f69d6fba194434648/view/frontend/web/js/customer.js#L8
https://github.com/kl

[2020-01-30 21:59] #18 closed

[2020-01-31 09:15] clivewalkden commented on #47
@remstone7 I'll get the latest version installed and confirm

[2020-02-01 16:20] albsa opened #58 "Multistore products need to be passed with the correct store view name"
Hi,

The event data that is passed to klaviyo does not contains the store view name, therefore it is taking the default values, this causes a lot issues in the flows when the incorrect titles are shown.

Please fix this.

[2020-02-03 16:06] remstone7 commented on #58
Hi, could you be more specific on what event you're referring to?

[2020-02-07 09:11] albsa commented on #58
Hi @remstone7 ,
actually all events.
None of the events are passed the right product information according to the current store ID / store view.

All the information that is passed to the klaviyo events are based on the base store version details.
Also the product feeds in klaviyo does not fetch the correct store ID product information, all is based on the base store view information.

Do you unde

[2020-02-07 09:14] albsa opened #62 "[Feature] Observer on orders"
Hi guys,

There should come a feature that the metrics are updated real time.
Like placed order, fulfilled order, fulfilled shipment, none of these seem 100% accurate or realtime.
Have a look at this repo:
https://github.com/picqer/magento2-plugin

A simple observer based on the order could do the trick, the above plugin has the right code to fit in the klaviyo plugin to update the data real time.

[2020-02-07 13:29] remstone7 commented on #58
@albsa we do use the store_id for the query to fetch products for our catalog, as well as our order data (these queries are all store scoped).  Would you be able to write into our support to show examples from the catalog of this in the product feed as this is all done via our rest api integration and not our extension? Please do so following these steps https://help.klaviyo.com/hc/en-us/articles/

[2020-02-07 13:44] albsa commented on #58
HI @remstone7,

Just got a bunch of e-mail tickets that you got asigned.
I think you already found me. It is the email of kidsluxury.

Let's communicate from there.

[2020-02-07 13:49] remstone7 commented on #58
great, i think there was a delay in processing our support form that just got resolved this morning.  We will chat over email, thanks for the recommendations and comments here!

[2020-02-07 13:49] #58 closed

[2020-05-05 03:16] bizlift commented on #27
MailChimp has 2-way sync on subscribe/unsubscribe.  Was testing Klaviyo, and wondering why unsubscribed weren't reflected on Magento.

Any possibility this functionality will be added so we can migrate to Klaviyo?

[2020-05-05 11:51] remstone7 commented on #27
@bizlift to confirm you're referring to the admin page specifically (ex. you manually giving someone a status of 0 not 1) and not through the account page?

[2020-05-05 16:24] bizlift commented on #27
@remstone7 was referring to comments in thread about Klaviyo > Magento sync direction.

I landed here via Google & just realized that I should have created a separate issue.  My apologies.

[2020-05-05 18:15] clivewalkden commented on #27
@bizlift My original ticket does mention what you are describing so not totally off topic. 2-way sync would be a bonus for this module, would happily give it a + vote if it needs creating as a separate issue.

[2020-05-06 12:19] remstone7 commented on #27
makes sense, we would do this through out app integration not through the module itself.  I'll open a feature request internally for it

[2020-05-12 18:58] andrewkett opened #70 "Add Content Security Policy for 2.3.5"
After upgrading to 2.3.5 the following errors are logged in the browser console

[code]

This is caused by a new module in 2.3.5 module-csp and can be resolved by adding Klaviyo domains to the Content Security Policy in a csp_whitelist.xml file. See https://devdocs.magento.com/guides/v2.3/extension-dev-guide/security/content-security-policies.html

[2020-05-12 20:40] remstone7 commented on #70
Thank you for bringing this up, we will resolve this!

[2020-05-13 21:46] njparadis commented on #70
Addressed here: https://github.com/klaviyo/magento2-klaviyo/pull/71
Will be packaged in v1.1.11

[2020-05-13 21:46] #70 closed

[2020-06-09 17:35] bizlift commented on #27
@remstone7 thank you for opening an internal feature request. Any update on whether it's been approved/scheduled?

Is there a temp workaround we could do? Like webhook notification on subscribe/unsubscribe from list?

[2020-06-11 13:00] remstone7 commented on #27
@bizlift this hasn't been picked up yet.  We unfortunately don't have a webhook based system for this but if you wanted to utilize the metrics api https://www.klaviyo.com/docs/api/metrics#metric-timeline and poll on the unsubscribed from list metric that would work

[2020-07-29 01:40] jasuten opened #78 "Warning message Fallback to JQueryUI Compat activated"
We are getting the following console warning on the checkout:

`Fallback to JQueryUI Compat activated. Your store is missing a dependency for a jQueryUI widget. Identifying and addressing the dependency will drastically improve the performance of your site. Compat.js
`

It looks like the file vendor/klaviyo/magento2-extension/view/frontend/web/js/view/checkout/email.js is requiring 'jquery/ui' whi

[2020-10-10 15:31] webamondo opened #80 "Doesn't work with 2.4 due to 2FA"
Currently when you try to integrate Klaviyo with Magento 2.4 you are unable to connect due to 2FA. The only work around is to disable the 2FA module.

[2020-10-12 13:46] remstone7 commented on #80
Hi @webamondo that is correct - we're will be working on a different authentication pattern this month/next month to handle the changes for 2.4

[2020-11-10 20:55] zaximus84 opened #82 "Insufficient CSP whitelisting for connect-src and img-src"
When visiting the storefront, there are Content Security Policy violations for these files:

(XHR) https://fast.a.klaviyo.com/onsite/api/v2/modules?company_id={company id}

(Image) https://a.klaviyo.com/api/track?data={data}&company_id={company id}&i=1

It looks like more coverage needs to be added to csp_whitelist.xml. I was able to fix it with a patch that adds the following entries:

`
<policy

[2020-11-20 13:08] remstone7 commented on #80
@webamondo we're working on this and will most likely be completed in December (will follow up here) - the only workaround we have to offer is to disable 2FA module

[2020-11-20 13:09] remstone7 commented on #82
Thank you for pointing this out - we will take a look at this and patch

[2020-11-25 23:33] remstone7 commented on #82
https://github.com/klaviyo/magento2-klaviyo/pull/87

[2020-12-07 08:56] ihor-sviziev commented on #78
This issue was fixed in https://github.com/klaviyo/magento2-klaviyo/pull/83.
I think we can mark this issue as fixed.

[2020-12-07 10:41] #78 closed

[2020-12-24 09:23] sergey-fedosimov opened #95 "report.CRITICAL: No such entity with customerId = 0"
\Magento\Newsletter\Model\Subscriber::subscribe():487
`$this->save();`
\Klaviyo\Reclaim\Observer\UserProfileNewsletterSubscribeObserver::execute():33
`$customer = $this->customer_repository_interface->getById($subscriber->getCustomerId());`

If a guest customer tries to subscribe it get an error "report.CRITICAL: No such entity with customerId = 0"
It will be great to have a configuration field to

[2021-01-30 22:09] lagunacellar commented on #80
Is there any update on this topic?  We were told completion was likely in December 2020.

[2021-01-30 22:14] klaviyojad commented on #80
@lagunacellar it is being actively being worked on right now.  We don't have a timeline of expected completion date as of this moment but will keep you posted once we know more.

[2021-02-10 19:50] jorgb90 commented on #80
Wow this lets me even completely cross out Klaviyo as option..

[2021-02-11 13:34] remstone7 commented on #80
Hey all, we're still working on this and are just about to wrap up phase 2 of 3 on this project.  This will be released in March, it's a high priority on our end and constantly being worked on.  I'll update here more frequently on the status of the project as we continue to progress.

[2021-02-19 21:25] njparadis commented on #82
Released with version 2.0.0

[2021-02-19 21:25] #82 closed

[2021-02-22 14:48] asherrard commented on #80
having this same issue with the current version.
ideally, the solution utilizes magento2 API integrations rather than generating a token via a username/password API token generation for the integration. https://devdocs.magento.com/guides/v2.4/get-started/authentication/gs-authentication-token.html

[2021-02-22 14:51] klaviyojad commented on #80
@asherrard we are currently working on an update that uses the OAuth1 integration like you mentioned.  Thanks for you pointing it out, we will keep you posted on once it is released.

[2021-02-24 15:43] vseager opened #98 "No ACL rules"
There are no ACL rules so that config access cannot be granted to individual user roles:

https://devdocs.magento.com/guides/v2.4/ext-best-practices/tutorials/create-access-control-list-rule.html

[2021-02-24 15:48] klaviyojad commented on #98
Hi @vseager below are ACLs you can configure that would satisfy all the api requirements from Klaviyo:

"Catalog > Inventory > Categories",
"Carts > Manage Carts",
"Customers > Customer Groups",
"Customers > All Customers",
"Sales > Operations > Orders > Actions > View"
"Stores > Attributes > Product",
"Catalog > Inventory > Products"
"Sales > Operations > Shipments"
"Stores > Settings > All Store

[2021-02-24 16:19] vseager commented on #98
@klaviyojad I wasn't referring to the API requirements but the settings in `Stores > Settings > Configuration`. At the moment there is no way to control access to Klaviyo configuration for different user roles (`System > Permissions > User Roles`).

![klaviyo](https://user-images.githubusercontent.com/2035088/109030342-9e327180-76bb-11eb-9179-da0783b1b79d.png)

![klaviyo2](https://user-images.gith

[2021-02-24 16:24] klaviyojad commented on #98
@vseager you are correct that we currently do not define any new ACLs for access to the Klaviyo extension config as well as new klaviyo endpoints.  Its something we'll have to add to the roadmap

[2021-02-24 18:37] jorgb90 commented on #80
What on earth is taking so long? This issue is raised in October last year..

[2021-03-04 13:48] jorgb90 commented on #80
@remstone7 Update?

[2021-03-04 18:28] remstone7 commented on #80
@jorgb90 We are working on releasing this in beta hopefully towards the end of next week, if you want to reach out to our support to let them know you want to be part of the beta we can add your account to it

[2021-03-16 16:21] jordanallain commented on #62
Thank you for pointing this out @albsa, this is something that is on our roadmap.

[2021-03-19 15:46] remstone7 commented on #80
Hi all, we have this in beta right now.  If you're interested in turning this on, please reach out to our support team to enable it for you.  Otherwise, it will be released fully in the coming weeks https://help.klaviyo.com/hc/en-us/articles/115001002272-How-to-Contact-Support

[2021-03-19 15:46] #80 closed

[2021-03-25 15:26] vseager commented on #98
@klaviyojad do you have an update on this issue?

[2021-03-25 15:37] klaviyojad commented on #98
@vseager again its on the roadmap.  Nothing we are working on currently.  Is it blocking you from anything?

[2021-03-30 03:37] AirmanAJK opened #102 "UpgradeSchema.php has a bad version_compare"
For extension upgrades, kl_sms_consent and kl_email_consent columns only get added to the quote and sales_order tables if the current version is greater then 2.0.0. Shouldn't that be less than 2.0.0 instead? I upgraded from 1.2.3, we don't have those new columns, and the upgrade didn't add the new columns because of the current version compare logic in place.

[2021-04-07 18:11] jorgb90 opened #104 "Add trackingnumber as event field"
To my surprise I just found out that the trackingnumber is not synced with the shipment event and by that not available for a transactional email like a shipment notification. I think its mandatory to have.

[2021-04-08 10:51] remstone7 commented on #104
Thanks for pointing this out, we'll file a ticket for this (it's handled app side, not on the extension)

[2021-04-08 11:44] jorgb90 commented on #104
@remstone7 Thanks!

[2021-04-27 16:15] alep93 opened #105 "Product Delete not Working after install Module"
If i comment this:
Klaviyo\Reclaim\Observer\ProductDeleteBefore
Product delete working fine.

The issue is on:
public function execute(Observer $observer)
    {
        $product = $observer->getEvent()->getProduct();
        $websiteIds = $product->getWebsiteIds();
        $storeIdKlaviyoMap = $this->_klaviyoScopeSetting->getStoreIdKlaviyoAccountSetMap($websiteIds);

        foreach ($storeIdKlavi

[2021-04-27 17:29] remstone7 commented on #105
Thanks for bringing this up, we're currently working on a fix for this!

[2021-05-17 21:50] #102 closed

[2021-05-17 21:50] #105 closed

[2021-05-26 14:39] peterjaap opened #109 "Typo in classname quoteIdMaskFactory"
https://github.com/klaviyo/magento2-klaviyo/commit/016114c870a39f8d2e18bab9be6a04a040e857c7#diff-8068478cd6f1a97f7d001e4510c4acbbb82f8ba24a899e3a585a79b33817dbcaR22

`Magento\Quote\Model\quoteIdMaskFactory` should be `Magento\Quote\Model\QuoteIdMaskFactory` (so with a capital Q in Quote)

[2021-05-26 15:53] #109 closed

[2021-05-31 09:59] alexsmith2709 opened #113 "Failed to create Klaviyo user with error: A user with the same user name or email already exists."
I have just installed this module and got to the "Setup Klayivo User" stage and no matter what username i choose, even leaving it as the default "klaviyo" i get the errror "Failed to create Klaviyo user with error: A user with the same user name or email already exists." My business only uses 1 email address.
I havent created a user before and this is a new installation of the klaviyo module.
I am

[2021-05-31 19:17] klaviyojad commented on #113
@alexsmith2709 I apologize for this error that you are seeing.  Are you still able to create a new user by going to System > Users > Add New User and then giving the user a role having Resource > Access value of "All"  or at least selecting the following permissions:

- Catalog > Inventory > Categories
- Carts > Manage Carts
- Customers > Customer Groups
- Customers > All Customers
- Sales > Opera

[2021-06-02 07:09] ihor-sviziev opened #114 "3.0.3 tag is missing"
Right now in the [changelog ](https://github.com/klaviyo/magento2-klaviyo/blob/master/CHANGELOG.md)and on the [Magento marketplace](https://marketplace.magento.com/klaviyo-magento2-extension.html) we can see that latest version is 3.0.3, but the tag isn't available.
![image](https://user-images.githubusercontent.com/1873745/120438999-b08f0c00-c38a-11eb-826c-d3c3206f90eb.png)
![image](https://user-

[2021-06-02 11:40] klaviyojad commented on #114
@ihor-sviziev apologies as was waiting for the extension to passed the Marketplace automated testing and manual Q/A.  It should be set now.

[2021-06-02 11:48] ihor-sviziev commented on #114
Yeah, now it's there. I'm closing this issue.
Thx for a quick fix!

[2021-06-02 11:48] #114 closed

[2021-06-03 08:18] alexsmith2709 commented on #113
Hi,
I just created a user with a personal email address to get around it. The other user i have using my one business email address is already an admin of magento so should have all permissions. I wasnt aware at the time that i could have used this user for kalviyo and not need a second account added.

[2021-06-03 12:54] klaviyojad commented on #113
@alexsmith2709 sorry about the confusion.  The functionality from the Klaviyo plugin just creates a new Magento user and just ensures that the correct permissions are set for it.  Correct that you can just create them using the normal means or just reuse an already existing user.

[2021-06-03 12:54] #113 closed

[2021-06-08 07:24] alexsmith2709 opened #122 "Cannot Activate OAuth Magento 2.4.2"
I have tried setting up OAuth in Magento 2.4.2 but it will not activate from System > Integrations. I get the error "Sorry, something went wrong. Please try again later." This happens every time i've tried.
I have 3.0.2 installed and upgraded to 3.0.3 so i could setup OAuth as Klaviyo was not detecting my install before (and still not). I have triple checked my API details and they are correct.

[2021-06-08 12:13] pauloharaujos commented on #122
I have the same issue here. Magento version 2.4.2-p1

[2021-06-08 12:14] klaviyojad commented on #122
@alexsmith2709 could you confirm that your server could make outgoing calls to https://www.klaviyo.com/integration-oauth-one/magento-two/auth/confirm?c=<Company ID> and https://www.klaviyo.com/integration-oauth-one/magento-two/auth/handle?  Otherwise could you please email us at extensions@klaviyo.com ?

[2021-06-08 20:16] #19 closed

[2021-06-22 04:13] mathanagopaloxsoftwares commented on #122
@klaviyojad I am getting the same issue in our test server. When I click allow I am getting Sorry Something went wrong popup. The URL - _<store_admin_url>/admin/integration/tokensExchange/id/3/reauthorize/0/key/bd721b5136874cb42ec081a7fd4ff8b104eb6466ae15bd5d09dc5194bfe11111/?form_key=qzI7kZChJFKnjKRA&_=1624334731157_ is going to 404 error.

**Below is the screenshot of that error:**

![image](htt

[2021-06-22 04:29] klaviyojad commented on #122
@mathanagopaloxsoftwares we figured out the cause of this problem.  It is due to a defect affecting Magento 2.4.2, it appears the next version they release will address it but in the meantime you can follow the recommendation [here ](https://magento.stackexchange.com/questions/323992/unable-to-activate-integration-with-oauth-1-0)

[2021-06-22 04:33] mathanagopaloxsoftwares commented on #122
@klaviyojad Thanks for the quick response. We will try the solution.

[2021-06-26 18:52] maxacarvalho opened #127 "Help with the method getKlSmsConsent"
Hello,

I recently upgrade the Klaviyo extension version that I'm using on my Magento 2 store. I installed the latest version, 3.0.5.  After sometime, I noticed that no orders were coming anymore. After some investigation I found some exceptions on the logs, they point to a method called `getKlSmsConsent`, every time I try to place an order the exception is fired and the checkout cannot proceed, i

[2021-06-26 19:02] klaviyojad commented on #127
@maxacarvalho we are aware of this problem and currently investigating it.  Some customers have been able to install this branch version https://github.com/lsimeonov/magento2-klaviyo/tree/fix/extend-extension-attributes and it fixed their issues.  Is it possible for you to test in your system to check if it resolves this issue?  Again we are hoping that we could merge it into master branch and inc

[2021-06-26 19:05] maxacarvalho commented on #127
@klaviyojad I am unable to test it right now. I disabled the extension but even after that the issue persists, now I get another exception after I click t actually place the order.

[code]

[2021-06-26 19:33] klaviyojad commented on #127
@maxacarvalho for the Klaviyo Plugin Settings under Stores > Configuration > Klaviyo > General do you have Enable Klaviyo Logger set to true?  make sure the path {magento-root-directory}/var/log/klaviyo.log exists

[2021-06-26 19:37] maxacarvalho commented on #127
@klaviyojad I had to revert the changes.
The store is not selling since yesterday because of the issue with the extension.
The exception points to a missing required parameter, not a log file. By the way, yes, the log file exists, besides, Magento logger will create the file if it does not exists.

[2021-06-26 19:58] klaviyojad commented on #127
@maxacarvalho I am sorry this took place.  We don't typically solve problems here on github.  If you don't mind filing a support ticket as described [here](https://help.klaviyo.com/hc/en-us/articles/115001002272-How-to-Contact-Support) we could better assist you and there is better tracking.

[2021-06-29 16:50] maxacarvalho commented on #127
@klaviyojad any update about this issue?

[2021-06-29 17:18] klaviyojad commented on #127
@maxacarvalho I was just chatting to your colleague and have you CC-ed in a support ticket.  As we work to solve this problem, I was suggesting that you revert to Klaviyo Extension Version 2.0.0 until we solve this problem.  Could we please keep this dialogue inside the support ticket?  Again github is not the place for customer inquiries.

[2021-07-13 21:08] #127 closed

[2021-07-13 21:08] #122 closed

[2021-08-09 17:20] cykolln commented on #95
Resolved by #118

[2021-08-09 17:20] #95 closed

[2021-08-09 19:51] cykolln commented on #98
This feature request has been added to the roadmap - closing because it is not an issue

[2021-08-09 19:51] #98 closed

[2021-08-10 11:21] vseager commented on #98
@cykolln Was this fixed? There is still no `/etc/acl.xml` in the repo?

[2021-08-12 17:50] cykolln commented on #98
We created a feature request for this issue and added it to our roadmap. When it gets picked up, a member of the team will follow up.

[2021-08-27 19:14] Tirakal opened #132 "Shipping methods not available after installing extension"
My Magento version is 2.3.1 and I installed the recommended version of Klaviyo (3.0.4). After installing and configuration we have an issue with the checkout page. The shipping methods are not available. But after disabling an extension they are showing again and work normally. Can anyone help to fix an issue.?

[2021-08-28 01:25] pmclain opened #133 "\Klaviyo\Reclaim\Plugin\Api\CartSearchRepository::afterGetList Infinite Loop"
### Steps to reproduce

All cart interactions below should be done via API

1. Create cart
2. Add at least one product to cart
3. Apply coupon code to cart (must be a code)
4. Edit the cart product in the admin panel
5. Reload cart

### Expected Result

`/rest/{{store}}/V1/carts/mine` should return your cart ID

### Actual Result

An infinite loop is triggered when a quote has `quote.coupon_code <

[2021-09-01 14:51] klaviyojad commented on #133
@pmclain I am seeing that this issue has been logged by @ihor-sviziev [here](https://github.com/magento/magento2/issues/33675) which leads me to think its a magento issue.  I will check if the latest version 2.4.3 it is fixed

[2021-09-01 15:01] ihor-sviziev commented on #133
@pmclain, please apply patch from the following PR:
https://github.com/magento/magento2/pull/33324
It's not merged, so definitely not available in any release

[2021-09-01 15:51] pmclain commented on #133
I'm surprised Klaviyo's stance on the issue is "not our problem" considering the critical level of impact. Pointing your merchants to a possible fix in core Magento with a TBD release while your module cripples checkout is disappointing.

[2021-09-01 15:53] ihor-sviziev commented on #133
@pmclain I think jovial might introduce the workaround, but the changes should be similar to what I created - fetch the masked quote is using direct queries, but not preventing of re calculation of something

[2021-09-01 16:05] pmclain commented on #133
@ihor-sviziev I don't care what the fix looks like as long as it's fixed. We've already hotfixed this in our instances. It wound up costing a significant drop in conversion since a rolling ~10% of carts were left in a broken state after upgrading from v2 to v3.

[2021-09-01 19:30] mpchadwick opened #135 "SMS Consent for Registered Customers with Saved Addresses"
The SMS consent feature adds a checkbox to the shipping address form.

For registered customers with saved addresses, the checkbox will not be available if checking out with an existing saved address. This seems to be a serios gap in the functionality.

Is Klaviyo planning to address this use case as part of the module. Our client wants to make sure this use case is covered if they enable this fun

[2021-09-02 20:12] klaviyojad commented on #135
@mpchadwick thank you for bringing it to our attention.  I am sorry that we missed that scenario when we first developed the feature.  I was able to test locally and can confirm what you are seeing.  I have opened an internal ticket with our team to fix this issue.  Will update here as well once we have a solution which will come in the form of an update to our extension

[2021-09-07 15:51] mpchadwick commented on #135
@klaviyojad - Great thanks. Do you have any sense of timeline for when this functionality would be available?

[2021-09-07 16:00] klaviyojad commented on #135
@mpchadwick not yet until we figure out the solution.  So far I have been able to detect when this occurs but trying to find a way to get the checkbox displayed in the Knockout JS when default shipping is set for the registered users

[2021-09-09 17:19] klaviyojad commented on #133
@pmclain apologies for the back and forth on this issue.  We have added the changes to version 3.0.8 to handle it

[2021-09-09 17:19] #133 closed

[2021-09-10 11:42] jorgb90 commented on #104
@remstone7 Maybe got an update from the app side team regarding this?

[2021-09-20 23:14] klaviyojad commented on #135
@mpchadwick we have a [PR](https://github.com/klaviyo/magento2-klaviyo/pull/138) out for review to solve this issue.
Sorry it took so long but UI changes like this always require approval from Product Managers and Legal before proceeding

[2021-09-22 09:49] RadarSofthouse opened #139 "2 way sync missing. Klaviyo unsub is not updated to Magento sub status"
This has been discussed in another item already but not solved yet. It´s really business critical for many Magento clients and for Klaviyo I would think to make this work so agencies like our can recommend Klaviyo to Magento clients without workaround like "we need to hide the newsletter status from My account". Mailchimp works just fine with 2-way sync.

[2021-09-22 21:10] #135 closed

[2021-10-04 14:59] ihor-sviziev commented on #139
@klaviyojad I have the same issue, could you take a look?

[2021-10-21 23:49] carlos-reynosa commented on #132
Maybe the requirement should be reflected somewhere within the composer.json.

[2021-11-02 06:19] nawawishkid opened #143 "Private API Key field in general settings is disabled"
Magento version: 2.4.1
Klaviyo version: 3.0.9

Installing with Composer
On a local machine with a custom domain name (.local)
No TLS/SSL certificate

I can’t follow the instruction from https://help.klaviyo.com/hc/en-us/articles/115005254348-How-to-Integrate-with-Magento-2-x-CE-and-EE-#install-with-composer--2-4--2 since the “Private Klaviyo API Key” field is disabled for no reason.

After Compose

[2021-11-02 12:35] klaviyojad commented on #143
@nawawishkid I believe your inquiry was responded to in the Klaviyo Community forums: https://community.klaviyo.com/integrations-39/magento-2-private-api-key-field-in-general-settings-is-disabled-2796?postid=10010#post10010
You will not get far with the setup as when you get to the setup oauth step it will not work because it requires a handshake process between the Klaviyo server and your localho

[2021-11-03 02:41] nawawishkid commented on #143
Okay. Thank you!

[2021-11-03 12:16] #143 closed

[2021-11-11 16:29] pmclain opened #146 "Track Profile Activity Use Deprecated Request"
https://github.com/klaviyo/magento2-klaviyo/blob/688b85ea27649ef0a4e56f0f4e6edcd5d020e09c/Helper/Data.php#L131

The track events are using an encoded `GET` request which fails for larger payloads. I don't know the exact length but beyond a certain size Klaviyo rejects the events with `414 Request-URI Too Large`. Klaviyo's API docs recommend sending the track event using the `POST` method.

https:/

[2021-11-16 19:44] cykolln commented on #146
Thank you for pointing this out, this has been added to our roadmap.

[2021-12-06 12:49] kamilszewczyk opened #148 "Klaviyo overrides saveShippingInformation JS action and removes other extension attributes"
We have noticed, that once we installed Klaviyo module, our other 3rd party module Amasty Delivery Date have stopped working as the fields for delivery date and comments have not been passed to PHP.
After investigation it turned out, that Klaviyo module rebuild the saveShippingInformation payload disregarding any other information that could be inserted in the extension_attributes section of paylo

[2021-12-06 15:17] klaviyojad commented on #148
@kamilszewczyk could you please share what version of Magento 2 is your system and what version of the Klaviyo Extension you have installed when you saw this?

[2021-12-06 15:19] kamilszewczyk commented on #148
@klaviyojad - your comment lead me to check release notes and I can see the issue has actually been fixed. Sorry for bothering!

[2021-12-06 15:19] #148 closed

[2021-12-09 11:51] vseager commented on #98
@cykolln Any change of getting this fixed? It really is a 5 minute change?!

[2021-12-28 15:25] GreaterDiktakis opened #153 "Message: Property "2" does not have accessor method "get2" in class "Magento\Quote\Api\Data\AddressExtensionInterface". {"exception":"[object]"
Just installed module version 3.0.10 on Magento 2.4.1

After enabling and configuring the "Consent and Checkout", this causes 500 error for shipping-information API call (moving from Shipping Step to Payment Step)

[2021-12-28 16:04] klaviyojad commented on #153
@GreaterDiktakis I work for the Support Engineers and will be happy to take a look at this for you.  Does this not happen if you do not set consent?  Either case, could please file an email support ticket as described [here](https://help.klaviyo.com/hc/en-us/articles/115001002272-How-to-Contact-Support#email-support1) so we can try to troubleshoot?

[2021-12-28 16:07] GreaterDiktakis commented on #153
Hey @klaviyojad

It occurs regardless of if you click on the consent or not. Only way for this to be fixed is for the configuration to be disabled (for Consent Checkbox).

However, the client has decided not to go with Klaviyo and therefore I can't follow up further on this.

[2021-12-28 16:07] #153 closed

[2022-01-24 07:40] mortenbirkelund opened #160 "ACL is missing"
The module is missing ACL, meaning that only admin users with full access is able to see the module.

[2022-01-24 07:42] mortenbirkelund commented on #160
https://devdocs.magento.com/guides/v2.4/ext-best-practices/tutorials/create-access-control-list-rule.html

[2022-01-24 14:49] klaviyojad commented on #160
@mortenbirkelund thank you for bringing this to our attention.  This has been brought up [here](https://github.com/klaviyo/magento2-klaviyo/issues/98) and is currently in our backlog

[2022-01-24 15:41] mortenbirkelund commented on #98
Still nothing?

[2022-01-24 15:43] mortenbirkelund commented on #160
Thanks. Do you think this will ever get fixed?

[2022-01-24 15:53] klaviyojad commented on #160
@mortenbirkelund like I said, its in our backlog.  Its not really a blocker for many customers just a nice to have.

[2022-02-04 18:12] stevekem opened #163 "Undefined property: Klaviyo\Reclaim\Helper\Data::$observerAtcPayload"
Hello,
We are getting the following error in logs multiple times daily. Also, not sure if it's related but no klaviyo.log is being generated even though I have "Enable Klaviyo Logger" set to YES in magento extension.

exception.log
---------------------
[2022-02-04 17:12:13] main.CRITICAL: Notice: Undefined property: Klaviyo\Reclaim\Helper\Data::$observerAtcPayload in /mnt/data/home/XXXXXXX.cloudw

[2022-02-04 18:31] klaviyojad commented on #163
@stevekem I am the support engineer also helping on the issue.  I had access to your server and ran `bin/magento cache:clean` and `bin/magento cache:refresh`  hopefully that solves the issue.  Do you know what triggers the messages in the first place?

[2022-02-04 18:42] stevekem commented on #163
@klaviyojad Hello, unfortunately that does not resolve it. Every time a new session is created and the first item is attempted to be added to cart, it actually does not add the item, it displays "Your shopping cart is empty" message. The error is logged at this time.

If I attempt to re-add the same exact item to cart again, it will add successfully and the qty will show the total for both attempt

[2022-02-04 19:32] stevekem commented on #163
The exact steps to reproduce error:

- Add any item to cart
- Go to checkout and check box for "Subscribe for SMS updates**"
- Complete checkout

So far this works good and no error logged....

- Start a new order and attempt to add any item to cart
- You will see the shopping cart is empty and item not added to cart. The error is now logged in exception.log & system.log
- Attempt to re-add the it

[2022-02-11 16:15] stevekem commented on #163
Hello, is there any update on this? Thanks!

[2022-02-14 22:16] klaviyojad commented on #163
@stevekem sorry for the delay.

I have SSH-ed into your system and edited file:

app/code/Klaviyo/Reclaim/Helper/Data.php

edited the constructor as such:

[code]

Hopefully that should prevent the error, could you test scenarios again that caused the initial error?

[2022-02-14 22:34] stevekem commented on #163
@klaviyojad Thanks for the update! Unfortunately still getting that error when I tried right now.

[2022-02-14 23:03] klaviyojad commented on #163
@stevekem could you please try again?  I changed something from calling PHP unset to just setting the property to null:

[code]

[2022-02-14 23:50] stevekem commented on #163
@klaviyojad That appeared to fix the error, it's no longer being logged in exception or system logs and product is adding to cart first try. Thank you!

Will this fix be in new release?

[2022-02-15 00:19] klaviyojad commented on #163
@stevekem yes it will be.  The engineers working on the next release are monitoring this thread.

[2022-02-17 05:10] aibean opened #166 "Area code is already set"
_klaviyo/magento2-extension 4.0.1_

When running the following command:

bin/magento queue:consumer:start product_action_attribute.update

I get,

[code]

If I trace the error I get the following output:

[code]

[2022-02-22 08:29] akosglue opened #167 "question: compatibility with magento 2.2.7"
which version can we install for magento ce 2.2.7?

[2022-02-22 16:24] klaviyojad commented on #167
@akosglue have you tried installing version 3.0.4 from https://packagist.org/packages/klaviyo/magento2-extension#3.0.4 ?
you can install it by running `composer require klaviyo/magento2-extension:3.0.4`

[2022-02-22 18:31] akosglue commented on #167
yes, but it didn't succeed.
for example:
klaviyo/magento2-extension 3.0.4 requires magento/module-quote >=101.1.0 <=101.1.3
klaviyo/magento2-extension 3.0.0 requires magento/module-quote >=101.1.0

finally the installed version is: ^2 (2.2.0)

thanks for the advice, it goes with version 2.

[2022-02-22 18:31] #167 closed

[2022-03-27 18:09] stevekem opened #169 "Option ID/Values coming in as numbers not names"
Hello,
Option ID/Values are currently coming in as numbers not names, so they aren't distinguishable by customers when used in templates. For example, they are currently coming in as:
option_id: 64
option_value: 469

But they should be:
Color: Green

![klaviyo-event-custom-options](https://user-images.githubusercontent.com/18691038/160294618-594941cb-3b5a-4f6b-bc13-db551cd8ee58.jpg)

[2022-04-10 12:22] justpeeet opened #172 "kl_ tables filling database without any further use"
We integrated the new 4.x version of the Klaviyo module. So far the 4.0.2 fixed some issues of the 4.0.1 but one issue we found after a week:

kl_sync and kl_events are constantly filling up. We had a sale this week and kl_sync is 3GB after one week and kl_events 1GB. Thats ridiculous. There should be a cron deleting all synced or moved event data.

[2022-04-10 19:10] klaviyojad commented on #172
@justpeeet thank you for bringing this to our attention.  We are aware that the table size can become unwieldy despite having the Cleanup Cron job removing rows marked as SYNCED from the kl_sync table.

We are working to develop an update to what we save to the payload column to not include the Description fields for the products of the Add to cart events.  Hopefully you could see that this would

[2022-04-11 08:08] justpeeet commented on #172
Removing the description is a good point. Why do you transfer categories and and url as well. If I compare the data needed for Facebook, google or any other tracking topic usually the SKU, name, qty and price is enough. For everything else you there should be a product feed to compare / match data like images, description and so on

[2022-04-22 06:35] jorgb90 opened #177 "Magento 2.4.4 not supported?"
When we try to re-authorize our Klaviyo integration we get a "We ran into an error" message:

They seem to be accessible and working for others. Any idea?

[2022-04-23 10:12] jorgb90 commented on #177
Magento 2.4.4 quietly stopped supporting HMAC-SHA1 and by that no handshake is possible. We should use HMAC-SHA256 from now on.

[2022-04-26 07:21] mohitthakur02 opened #178 "class Klaviyo\Reclaim\Api\ReclaimInterface does not exist"
How can I solve anyone helps me to solve this issue my Magento has 2.4.2

[2022-04-26 07:22] #178 closed

[2022-04-26 07:23] mohitthakur02 opened #179 "Class Klaviyo\Reclaim\Api\ReclaimInterface does not exist"
how can i solve this anyone helps me to solve in Magento 2.4.2

[2022-04-26 15:43] cykolln commented on #146
This was fixed in release 4.0.2

[2022-04-26 15:43] #146 closed

[2022-05-03 10:21] jorgb90 commented on #177
Solved by Klaviyo.

[2022-05-03 10:21] #177 closed

[2022-05-10 13:27] martinshawruroc opened #185 "Deprecated Functionality: strtolower(): Passing null to parameter #1 ($string) of type string is deprecated"
Hi there,

I'm trying to upgrade to Magento 2.4.4 and I have this extension installed. I'm finding that `bin/magento setup:upgrade` is failing and the reason is that the `etc/db_schema.xml` file specifies indexes but no indexType. For example, the file has:

[code]

Which on `bin/magento setup:upgrade` results in the following:

[code]

If I manually edit the `etc/db_schema.xml` file so that all t

[2022-05-17 04:10] dzdaniel opened #187 "Need update version"
Hi Klaviyo - I've got this error message, it seem you need to update the latest version to repo.magento.com
![image](https://user-images.githubusercontent.com/62588396/168727234-8123c84a-de82-474d-ace1-093954c216b9.png)

[2022-05-17 11:52] spicyavocadooo commented on #187
Can confirm. Same problem here. It's impossible to work on anything regarding magento or other modules without having to remove klaviyo. Please fix ASAP - it's urgent!

[2022-05-17 17:41] valenciaisaza opened #188 "Lack of indexType on DB indexes"
https://github.com/klaviyo/magento2-klaviyo/blob/158140087d0ea29533ca59c59d927d35f0a49f76/etc/db_schema.xml#L16

add the `indexType="btree"` to the db_schema.xml to avoid bin/magento setup:upgrade error

This is for all 4 index in that file for versions > 4.0.0

**Note**: This problem is when use PHP8 for the last magento version 2.4.4

[2022-05-17 18:15] svalveson commented on #188
We are having the same issue here

[2022-05-17 18:15] gabriel3iri commented on #188
I was trying to update this extension and got this exact problem, setup:upgrade doesn't work and found this problem with the index, I'm using PHP 8.1

[2022-05-18 16:57] cykolln commented on #185
This fix is queued up for the next release (4.0.3) with a timeline within the next two weeks

[2022-05-18 16:58] cykolln commented on #188
Closing this issue out (duplicate: https://github.com/klaviyo/magento2-klaviyo/issues/185). This is a known issue and will be fixed in the next release.

[2022-05-18 16:58] #188 closed

[2022-05-19 21:19] JamesFX2 opened #189 "More efficient way to sync orders needed"
Klaviyo are having issues sync'ing orders with our site because they're occasionally triggering our rate limiting - and they're unable to provide an IP for whitelisting.

Could we please work together to setup a more efficient sync method that requires less calls than individual API calls to individual quotes and individual orders.

![image](https://user-images.githubusercontent.com/8654869/169406

[2022-05-24 11:29] RoboSowo opened #191 "Klaviyo blocks checkout from working - error with method getKlSmsConsent()"
We are in the process of installing Klaviyo to our Magento2, but before even configuring the app, we can see that the app is preventing our checkout flow in functioning. We get following error message:

main.CRITICAL: Error: Call to undefined method Magento\Checkout\Api\Data\ShippingInformationExtension::getKlSmsConsent() in /home/web/OURSITE/releases/20220523065500/vendor/klaviyo/magento2-extensi

[2022-05-25 16:53] cykolln commented on #185
This should be fixed in the release shipped yesterday 4.0.4

[2022-05-25 16:53] #185 closed

[2022-06-02 14:55] JamesFX2 opened #193 "klaviyo_events_topic cron error"
Notice: Undefined index: Categories in app/code/Klaviyo/Reclaim/Cron/EventsTopic.php on line 156

Assuming it's because the payload field is truncated. I'm sure you're just going to change it to mediumtext but please consider a more optimal storage strategy, i.e. pulling the details from the product repository (so they're cached) and instead of loading the same category over and over, try caching

[2022-06-28 19:48] jlenzstaysafe opened #194 "Ajax request 404 which is causing several major issues in cart"
Add a product to cart then go to the cart page.  If you notice, the ajax request for "reclaim/checkout/reload" is going to a 404.  This is just one issue.  Next, you may notice that when that 404 ajax request finishes, it contains headers with cookies.  Now, go ahead and add any random coupon code so you receive an error notice.  Now keep adding random coupon codes to generate more error messages.

[2022-07-07 19:22] jlenzstaysafe commented on #194
I submitted a PR to fix this: https://github.com/klaviyo/magento2-klaviyo/pull/195

[2022-07-09 07:18] Berman59 opened #196 "TypeError: customerData.getInitCustomerData is not a function"
... from "Klaviyo_Reclaim/js/customer.min.js". Getting this error on a Magento 2.3.7 test environment. I don't see getInitCustomerData in Magento 2.3.7's customer-data.js, is it because this version is not supported anymore...?

[2022-07-21 20:55] cykolln commented on #194
This fix has been merged in, and will be released within the next week.

[2022-07-21 20:55] #194 closed

[2022-07-25 14:45] lepiklepik opened #199 "Wrong parameter names in PHPDoc for productinspector() method"
hey guys,

you have wrong PHPDoc parameter names in the productinspector() method at https://github.com/klaviyo/magento2-klaviyo/blob/01f101d2138aa4c5879b6e0863f1ec8c0b11db23/Api/ReclaimInterface.php#L80

[2022-07-28 22:12] cykolln commented on #194
This has been released in version 4.0.5

[2022-07-29 10:41] edas11 opened #201 "Add to cart breaks on PHP 8"
Hello,

On Magento 2.4.4 (PHP 8) we get this error when adding a product which doesn't have any images to the cart:
`report.CRITICAL: Exception: Deprecated Functionality: stripslashes(): Passing null to parameter #1 ($string) of type string is deprecated in vendor/klaviyo/magento2-extension/Observer/SalesQuoteProductAddAfter.php on line 75 in vendor/magento/framework/App/ErrorHandler.php:61`

Coul

[2022-08-03 16:45] fidellakis-coolibar commented on #196
Also seeing this error running M2.4.3-p1
![Screen Shot 2022-08-03 at 11 44 33 AM](https://user-images.githubusercontent.com/91549244/182663667-083d9ce3-d358-450d-bc25-a09036bc8510.png)

[2022-08-08 01:12] VivekShingala commented on #127
Hi @klaviyojad

Was this issue resolved? I am getting the same error on my 2.4.3-p2 store's checkout page on production. Started getting it 2 days back.

[2022-08-10 13:59] jorgb90 commented on #199
Yes! This breaks SOAP API!

[2022-08-30 06:21] husseycoding commented on #80
Did this change make it live?

[2022-08-30 07:00] spicyavocadooo opened #206 "Blocks in XML have no name"
Hello,
the blocks in the layout xmls have no name, so it is not possible to remove them from some pages, which we need.
It is really bad practise.

[2022-08-30 14:51] smoucka commented on #206
Thanks @spicyavocadooo we can add names to the blocks in `view/frontend/layout/checkout_index_index.xml` and `view/frontend/layout/default.xml`.

[2022-08-31 07:08] spicyavocadooo commented on #206
@smoucka yes please!

[2022-09-15 00:26] diyontheweb commented on #196
Confirm also seeing this on 2.3.7

[2022-09-15 19:29] Jaeto commented on #196
For the comments above, can you also supply which version of the Klaviyo extension you are using?

[2022-09-15 23:15] diyontheweb commented on #196
Hi @Jaeto. We have tried 4.0.5 and 4.0.2 on Magento 2.3.7.

[2022-09-15 23:24] cykolln commented on #199
Thanks for reporting this issue, we have merged the fix and it will be included in the next release.

[2022-09-16 02:04] fidellakis-coolibar commented on #196
We fixed this by ensuring any theme overrides from Magento_Customer module has all methods from extending class.

[2022-09-19 12:44] guentur commented on #196
@fidellakis-coolibar Have you found `getInitCustomerData()` function in your Magento installation? I noticed there is not any modules that add mentioned function.

[2022-09-19 14:08] smoucka commented on #199
Fixed in https://github.com/klaviyo/magento2-klaviyo/pull/207

[2022-09-19 14:08] #199 closed

[2022-09-19 16:11] fidellakis-coolibar commented on #196
@guentur check vendor/magento/module-customer/view/frontend/web/js/customer-data.js. It's there for me. What version of Magento are you running.

[2022-09-20 07:24] guentur commented on #196
@fidellakis-coolibar My project uses Magento 2.3.4. I have found there is not required function (`getInitCustomerData()`) in `vendor/magento/module-customer/view/frontend/web/js/customer-data.js`. I will change my module to add this function instead of just removing calling this function in `Klaviyo` module

[2022-09-20 15:32] novikor opened #209 "PHP 8.1 compatibility issue"
[code]

[2022-09-20 16:05] smoucka commented on #206
TP:138529

[2022-09-21 01:59] nabintiw commented on #209
We are currently investigating the issue.

[2022-09-28 23:36] cykolln commented on #201
This fix has been merged, will update here once the release has gone out

[2022-10-04 21:58] VivekShingala commented on #191
Hi @RoboSowo

We are also experiencing the same issue. Our staging site is working fine, but it is breaking the production site checkout page with the error you have mentioned.

We have same Magento, PHP and Klaviyo versions for our staging and production environment. Could you please help me if you have already fixed this issue?

[2022-10-04 22:53] cykolln commented on #193
Hi @JamesFX2 - thank you for raising this issue. In May we released an update to our extension (4.0.4) which removes Product descriptions from the Added to Cart payload - this descriptions were often too large. I noticed in the payload you posted the description is present, have you updated to the latest version of the extension? We are currently looking into updating the field type as you mention

[2022-10-05 05:07] RoboSowo commented on #191
No, we did not find a fix, so we had to install an older version of the
application...

Do you plan to make a solution in this in the near future?

Br Sophie

On Tue, 4 Oct 2022, 23.58 Vivek Shingala, ***@***.***> wrote:

[2022-10-05 05:18] VivekShingala commented on #191
Oh, I see.

Yes, I am working on it to find and fix the issue. Will let you know here.

[2022-10-06 23:41] cykolln commented on #191
Thank you for raising this - I've created an internal ticket to investigate this and will update this issue when it gets picked up.

[2022-10-06 23:42] cykolln commented on #191
@RoboSowo @VivekShingala can you please share which version of Magento you're using?

[2022-10-07 01:42] cykolln commented on #209
Hi @novikor can you provide some more details as to how to recreate this issue - I understand we need to conditionally call `number_format`, but is this happening on every product page? Or just products with a certain configuration

[2022-10-07 01:55] cykolln commented on #163
This has been fixed - closing this out

[2022-10-07 01:55] #163 closed

[2022-10-07 01:57] VivekShingala commented on #191
Hi @cykolln

I'm using below versions for my website:

Magento: 2.4.3-p2
PHP: 7.4.12
Klaviyo: 4.0.5

Please note that we have the same configuration for our staging site as well and it's working correctly. The issue we are facing is on production server.

[2022-10-07 13:38] novikor commented on #209
@cykolln thank you for working on the issue. Unfortunately, I don't remember to be sure - but I believe it was on every product page, simple or bundle.

I have just applied a patch with null to float conversion as a hotfix

[2022-10-07 15:10] cykolln commented on #191
Hi @VivekShingala - thanks for supplying your configuration for us. A lot of the time issues with extension attributes can be resolved by removing the /generated directory and recompiling:

[code]

[2022-10-07 15:55] VivekShingala commented on #191
Hi @cykolln

We are using deployer so generated folder is newly created each time we deploy the code to the server. So, that can't be the issue.

[2022-10-19 00:25] cykolln commented on #209
The fix for this has been merged and will be included in the next release, I will update here once the new version is out - it should be within the next week.

[2022-11-01 23:31] cykolln commented on #201
This has been fixed as of the latest release 4.0.7

[2022-11-01 23:31] #201 closed

[2022-11-01 23:32] cykolln commented on #209
This has been fixed as of the latest release 4.0.7

[2022-11-01 23:32] #209 closed

[2022-11-01 23:39] cykolln commented on #193
We've added handling for this in the latest release 4.0.7, see #215 . This includes adding in try catch blocks like you suggested so any exceptions due to existing truncated payloads in the DB don't prevent other rows from syncing. This is a first round of future added to cart improvements we plan to make - thank you for your continued feedback as we work to make our extension better!

[2022-11-01 23:39] #193 closed

[2022-11-14 04:57] erfanimani opened #218 "Feature request: apply coupon code automatically on abandoned cart email"
Hello,

This is more a feature request than a bug. When creating abandoned cart workflows, Klaviyo can automatically generate unique coupon codes for customers to reclaim their abandoned cart and add a discount.

Is it possible for the coupon code to be applied automatically when the customer reclaims their cart?

I believe this functionality exists in Shopify.